*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.raleway{
    font-family: Raleway;
}

.quicksand{
    font-family: Quicksand;
}

.display-flex{
    display: flex;
}

/* nav-bar */
.nav-bar{
    justify-content: space-around;
    height: 62px;
    justify-items: center;
    margin: 20px 0;
}

.nav-title{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: auto 0 auto 11px;
}

.nav-bar .ul{
    list-style: none;
    gap: 32px;
    margin: auto 0;
}

.ul a{
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

.ul .home{
    color: orange;
}

.ul .about{
    color: skyblue;
}

.ul .facili{
    color: #05d4df;
}

.ul .adimission{
    color: #5d58ef;
}

.nav-btn{
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: orange;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}

.dot-icon{
    display: none;
}

/* banner-section */
.banner-section{
    width: 1440px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 60px auto;
}

.banner-content{
    width: 640px;
    height: auto;
}

.banner-title{
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

#empowe{
    color: orange;
}

#vision{
    color: skyblue;
}

.banner-description{
    font-size: 1.25rem;
    color: black;
    margin-bottom: 24px;
}

.banner-btn{
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
    .ul, .nav-btn, .nav-title{
        display: none;
    }

    .nav-bar{
        height: 70px;
        border-bottom: 1px solid orange;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .dot-icon{
        display: block;
        margin-right: 16px;
        margin: 20px 16px 20px 0;
    }

    .nav-logo{
       margin: auto 0 auto 16px;
    }

    .banner-section{
        flex-direction: column-reverse;
        width: 90%;
    }

    .banner-content{
        width: 100%;
        text-align: center;
    }
}