*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.raleway{
    font-family: Raleway;
}

.quicksand{
    font-family: Quicksand;
}

.display-flex{
    display: flex;
}

/* nav-bar */
.nav-bar{
    justify-content: space-around;
    height: 62px;
    justify-items: center;
    margin: 20px 0;
}

.nav-title{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: auto 0 auto 11px;
}

.nav-bar .ul{
    list-style: none;
    gap: 32px;
    margin: auto 0;
}

.ul a{
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

.ul .home{
    color: orange;
}

.ul .about{
    color: skyblue;
}

.ul .facili{
    color: #05d4df;
}

.ul .adimission{
    color: #5d58ef;
}

.nav-btn{
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: orange;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}